body{
    margin:0;
    padding: 0;
}
.header{
    background: #3E5C9A;
    overflow: hidden;
    padding: 8px 0;
}
.container{
    width: 65%;
    margin: auto;
    max-width: 1000px;
}
.logo-area{
    width:30%;
    float:left;
}
.logo-area {
    font-size: 40px;
    margin-top:40px;    
}
.login-area{
    width:70%;
    float:left;
    margin-top:23px;
    
}
.login-area form{
    float:right;
}s
.login-area label,
.login-area input{
    display: block;
}
.email,
.password,
.login{
    float:left;
    margin-right:15px;
    color:white;
}
.login{
    margin: 0;
}
.login-area input[type="text"],
.login-area input[type="password"]{
    border:1px solid #000;
    font size:14px;
    font-weight:300;
    padding: 5px 5px;
}
.login-area a{
    text-decoration: none;
    color:white;
    font-size:12px;
}
.login-area a:hover{
    text-decoration: underline;
}
.login-area input[type="submit"]{
    background-color: #4267b2;
    border:1px solid #29487d;
    color:white;
    padding: 3px 9px;
    margin-top:20px;
    font-weight: 600px;
}

/* end header area */

.signup-area{
    background: linear-gradient(#ffffff, #D4D9E9);
    padding: 20px 0;
}
.signup-area::after{
    content:'';
    clear:both;
    display: block;
}
.left-area{
    width: 55%;
    float: left;
}
.left-area p{
    font-size: 20px;
    color: #0e385f;
    font-weight: 600;
    width: 80%
}
.left-area img{
    width: 100%
}
.right-area{
    width: 45%;
    float: left;
}
.right-area h2{
    font-size: 33px;
    color: #333;
    margin: 0;
}
.right-area h4{
    font-size: 19px;
    color: 1d2129;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
.right-area input[type="text"],
.right-area input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin: 5px 0;
}
.full-name{
    overflow: hidden;
}
.first-name{
    width: 48%;
    float:left;
    margin-right: 4%;
}
.surname{
    width: 48%;
    float: left;
}
.birthday{
    overflow: hidden;
}
.birthday h4{
    margin-top: 0;
    margin-bottom: 5px;
}
.birth-date{
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 200px;
}
.birth-date select{
    border: 1px soid #ccc;
    padding: 5px;
    float: left;
}
.birth-link{
    float: left;
    width: 190px;
}
.birth-link a{
    font-size: 13px;
    display: block;
    line-height: 1.1;
    text-decoration: none;
    color: #365899; 
}
.birth-link a:hover{
    text-decoration: underline;
}
.gender{
    margin: 10px 0;
}
.gender label{
    font-size: 20px;
    font-weight: 400;
    color: #1d2129;
}
.text-box{
    margin-bottom: 20px;
}
.text-box p{
    font-size:13px;
    color: #777;
    width: 80%;
}
.text-box a{
    text-decoration: none;
    color: #365899;
}
.text-box a:hover{
    text-decoration: underline;
}
.btn{
    margin-bottom: 30px;
}
.btn input{
    background: linear-gradient(#67ae55, #578843);
    padding: 7px 55px;
    border-radius: 5px;
    color: white;
    font-size:18px;
    border: 1px solid;
    font-weight: 400;
}
.btn input:hover{
        background: linear-gradient(#578843, #67ae55);
        cursor: pointer;
}
.business{
    font-weight: 400;
}
.business a{
    text-decoration: none;
    color: #365899;
}
.business a:hover{
    text-decoration: underline;
}
/*end sign up area*/

.footer-area{
    padding: 30px 0;
}
.footer-area ul{
    margin: 0;
    padding: 0;
}
.footer-area ul li{
    list-style-type:none; 
    display: inline;
}
.footer-area ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#365899;
}
.footer-area .top ul li {
    margin-right: 8px;
}
.footer-area .middle ul li{
    margin-right: 12px;
}
.footer-area .top ul li:last-child a{
    border:1px solid #999;
    padding: 0 5px;
}
.footer-area span{
    color:#737373;
    font-size: 16px;
}
.footer-area .top ul li:first-child a{
    color:#737373;
}
.footer-area .top ul li:last-child,
.footer-area .middle ul li:last-child{
    margin-right: 0;
}
.footer-area .bottom{
    margin-top: 20px;
}